$accentColor = #0984e3
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
:root{
    --accentColor:#0984e3;
}
// Add you extra styles here
 
body,input,li,ol{
	direction:rtl;
	font-family: Vazir;
  
}
pre,.katex{
	direction:ltr; 
}
a.sidebar-link{
	padding:0.3rem 2.5rem;
	margin:0.2rem 0;
   max-height: 30px;
    white-space: nowrap;
}
a.sidebar-link:not(.active){
    max-width: 280px;
    overflow: hidden;
}
a.sidebar-link.active{
	border-right: 0.25rem solid transparent;
	border-right: none !important;
	border-left:none !important;
	font-weight:bold;
  color:var(--accentColor);
}
 .nav-item > a:not(.external).router-link-active {
 
  border-bottom-color:var(--accentColor);
}
.sidebar-button{
    right:1rem;
    left:auto;
}
.sidebar-sub-header{
    max-height: 33px;
.sidebar-link.active{
   	  background:var(--accentColor);
      z-index 1000;
      border-right:    2px #999 solid;
      	color:white;
		position:relative;

	border-left:20px solid #fff !important;
	overflow:visible !important;
	 background-clip: padding-box;
}
.sidebar-link.active:after {
      content: '';
    position: absolute;
    right: 5px;
    top:0px;
    bottom:0;
     
    width: 0px;
     border-right: 3px solid  #fff; 
      
		  
}
.sidebar-link.active:before {
         content: 'network_cell';
    transform: rotate(135deg);
    position: absolute;
    left: -11px;
    top: -3px;
    color: #000;
    font-size: 23.8px;
    font-family: "Material Icons";
     color:var(--accentColor);
}
}
ul.sidebar-links>li>a{ 
	border-right:none !important;   
}
ul.sidebar-links>li>.sidebar-link{
	position:relative;
}
ul.sidebar-links>li>.sidebar-link:after {
 content: 'expand_more';
  transform:rotate(90deg);
    position: absolute;
    right: 15px;
    top: 0px;
    font-size: 20px;
    font-family: "Material Icons";
    overflow: visible;
     transition:all 0.7s;
  
}
ul.sidebar-links>li>.sidebar-link.active:after {
     transform:rotate(0deg);
  font-size: 29px;
      top: -5px;
  right: 8px;
  
 
}
.sidebar{
	left:auto;
	right:0;
    overflow-x: hidden; 
    display: none;
}
.sidebar::-webkit-scrollbar {
    width: 0.4em;
}
 
.sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.sidebar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
body::-webkit-scrollbar {
    width: 0.4em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.page {
    padding-right: 20rem;
	padding-left:0;
}
.sidebar .sidebar-sub-headers{
    padding-right: 1rem;
	padding-left:0;
    margin-bottom:1rem;
}

header.navbar{
   	.home-link{
		position: absolute;
		right: 4rem;
	}
	.nav-item{
		margin-left:auto;
		margin-right:1.5rem;

	}
	.links{
		left: 1.5rem;
		right:auto;
	}
     .links.ok{
        visibility:visible !important;
    }
    .toggle{ 
    font-family: "Material Icons"
    font-size:32px;
    border:none !important;
    overflow:visible;
    }
    .toggle-nav{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    right: 1.4rem;
    top: 1rem;
    max-width: 1rem;
    padding: 0;
    margin: 0;
    }
    
    
}
 .sidebar-hide{
     .sidebar{
         display:none;
     }
     .page{
         padding-right:0;
     }   
     .toggle-nav *{
         color:var(--accentColor) !important;
     }
    }
p {
  font-family: Vazir;
  font-size: 13px;
}

.search-box input {
  background-color: #F7FFFD !important;
}
.page-nav{
	direction:ltr;
	a{
		direction: rtl;
    	display: inline-block;
	}
}

.feature p {
  font-size: 20px;
}
.action-button{
	padding: 1rem 6rem !important;
}
code{
	direction:ltr;
	display: inline-block;
}
.custom-block{
	border-right-width: 0.6rem;
	border-right-style: solid;
    border-left-style: none !important;
}
.content:not(.custom),.page-edit, .page-nav{
	max-width:90%;
}
 

$admonition
    box-shadow 0 2px 3px 0 rgba(0,0,0,.44)
    position relative
    margin 1.5625em 0
    padding 0 1.2rem
    border-right 5px none #448aff
    overflow auto

 
$admonition-icon
    position absolute
    font-family: "Material Icons"
    font-weight: normal;
    font-style: normal;
    font-size: 24px
    display: inline-block;
    
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

     
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
 
$admonition-title
    margin 0 -1.2rem
    padding .8rem 2.4rem .4rem 0rem
    border-bottom .1rem solid rgba(68,138,255,.1)
    background-color rgba(68,138,255,.1)
    font-weight 700

.admonition>.admonition-title:last-child
    margin-bottom 0
    
admonition_types = {
    note: {color: #0288D1, icon: "edit_sharp"},
    abstract: {color: #c5d845, icon: "speaker_notes_filled"},
    info: {color: #19d8f5, icon: "info"}
    tip: {color: #00bfa5, icon: "code"},
    success: {color: #00c853, icon: "check_circle_outline"},
    question: {color: #64dd17, icon: "help"},
    warning: {color: #ff9100, icon: "warning"},
    failure: {color: #ff5252, icon: "close"},
    danger: {color: #c2185b, icon: "flash_on"},
    bug: {color: #e040fb, icon: "bug_report"},
    example: {color: #651fff, icon: "format_list_numbered_rtl"},
    quote: {color: #9e9e9e, icon: "format_quote"}
}

for name, val in admonition_types
    .admonition.{name}
        @extend $admonition
        border-right-color: val[color]
    
    .admonition.{name}>.admonition-title
        @extend $admonition-title
        border-bottom-color: .1rem solid rgba(val[color], 0.2)
        background-color: rgba(val[color], 0.2)

    .admonition.{name}>.admonition-title:before
        @extend $admonition-icon
        color: val[color]
        content: val[icon]
				
.admonition-title:before {
    right: 0.6rem;
    top: 0.2rem;
    width: auto;
    width: 1.5rem;
    text-align: center;
}
  html:not(.is-sidebar-open){
          .page{
     padding-right: 0;
  }
  
        .sidebar{
      display: none;
  }
  }
  html.is-sidebar-open  .sidebar{
      display: block;
  }
  
@media screen and (max-width: 959px) {
  .search-box  {
    display: none;
  }
  .comparison{
      flex-direction: column;
      }
  .comparison__container{
      width:100% !important ;
  }


.sidebar{
    width:20rem;
    padding-right: 1rem;
    
    
}
.sidebar:after{
    display none;
}
 
html.is-sidebar-open .sidebar {
    transform: translateX(0);
}
 
html.is-sidebar-open .sidebar {
    width: 20rem;
    padding-right: 1rem;
}
}
 
.sidebar:before{
   content: ' ';
      position: fixed;
    width: 300px;
    top: 0;
    bottom: 0; 
    z-index -1;
    right: 0px;
    border-left: 1px solid #ccc;
box-shadow: inset 1px 0px 1px rgba(0,0,0,0.5);
    }
 
 .sidebar-button{
     display:block !important;
     }