// Add you extra styles here


.search-box input {
  background-color: #F7FFFD !important;
}


body{
	direction:rtl;
}
pre{
	direction:ltr;
}
 
header.navbar{
 
	.home-link{
		position: absolute;
		right: 4rem;
	}
	.nav-item{
		margin-left:auto;
		margin-right:1.5rem;

	}
	.links{
		left: 1.5rem;
		right:auto;
	}
}
p {
  font-family: "Tahoma";
  font-size: 13px;
}

.feature p {
  font-size: 20px;
}
